html, body {
  margin: 0;
  min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgb(65, 106, 171), rgb(97, 196, 140));
    color: black;
    margin: 0;
    min-height: 50vh;
    font-family: system-ui, sans-serif;
}

.divs {
    width: 80%;
    padding: 30px;
    background: rgba(255, 255, 255, 0.18);
    border-radius: 18px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.25);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

p {
    padding-left: 40px;
    text-align: left;
}

ol {
    padding-left: 80px;
    text-align: left;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}