site_name: MeltedForge Documentation
theme:
  name: material
  language: en
  logo: assets/icon.png
  favicon: assets/icon.ico

  font:
    text: Roboto
    code: Roboto Mono

  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.instant.preview
    - navigation.tracking
    - toc.integrate

  palette:
    - scheme: default
      primary: blue
      accent: amber
      toggle:
        icon: material/weather-night
        name: Switch to dark theme
    - scheme: slate
      primary: black
      accent: deep-purple
      toggle:
        icon: material/weather-sunny
        name: Switch to light theme

plugins:
  - search:
      lang: en

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

nav:
  - Introduction: index.md
  - About: about.md

copyright: Copyright(c) 2025-2026 CloudCodingSpace
